@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Eczar';
    src: url(/fonts/Eczar.ttf) format('truetype');
  }

  @font-face {
    font-family: 'DMMono';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/DMMono.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter.ttf) format('truetype');
  }
}
