@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, sans-serif;
    background-image: linear-gradient(
      to bottom,
      rgb(255, 186, 197),
      rgb(88, 88, 255)
    );
    font-weight: 300;
  }

  h1,
  h2,
  h3 {
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    @apply text-zinc-400 text-base md:text-lg;
  }
}
