@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Eczar';
    src: url(/fonts/Eczar.ttf) format('truetype');
  }

  @font-face {
    font-family: 'DMMono';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/DMMono.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter.ttf) format('truetype');
  }

  h1,
  h2,
  h3 {
    font-family: Inter, sans-serif;
    text-transform: capitalize;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
